.big-container {
  max-width: none;
  width: auto;
}

.log--base .catalog__main-content,
.shadow {
  box-shadow: none;
}

footer.container-footer {
  margin-top: -24px;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  color: transparent;
}

form select,
input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 36px;
  width: 100%;
  padding: 0 0 0 12px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #3b6d9a;
  outline: none;
  transition: 0.3s;
}

.btn,
button {
  display: block;
  background: 0 0;
  cursor: pointer;
  border: none;
  text-align: center;
  width: 100%;
  line-height: 44px;
  transition: 0.3s;
  border-radius: 4px;
  margin-bottom: 24px;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.base-padding {
  padding-left: 0;
  padding-right: 0;
}

.clear-padding {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 640px) {
  .base-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .clear-padding {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .base-padding {
    padding-left: 0;
    padding-right: 0;
  }

  body .clear-padding {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

header.header {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .layout {
    padding-top: 50px;
  }

  body div.layout--mobile-banner {
    padding-top: 90px;
  }
}

.breadcrumbs {
  display: none;
}

main[locale] .big-container {
  max-width: initial;
  width: 100%;
  box-shadow: none !important;
}

.base-padding {
  padding: 0;
}

.referral {
  overflow: hidden;
  margin-top: -15px;
  background-color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .referral {
    margin-top: 0;
    padding-top: 50px;
  }
}

/*referral-header*/
.referral-header {
  padding-top: 47px;
  padding-bottom: 177px;
  background: url('https://i.citrus.ua/uploads/promo/referral/header/bg-bottom.png')
      no-repeat bottom -1px center/contain,
    url('https://i.citrus.ua/uploads/promo/referral/header/bg-main-new.jpg')
      no-repeat top center/cover,
    linear-gradient(0deg, #f2f646, #f2f646),
    radial-gradient(62.4% 578.09% at 36.96% -96.42%, #fff87c 0%, #f6ed46 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.referral-header__image {
  margin-bottom: 40px;
  max-width: 536px;
  opacity: 0;
}

.anim.referral-header .referral-header__image {
  animation: bounce-anim 0.7s forwards ease-in-out;
  animation-delay: 0.5s;
}

@keyframes bounce-anim {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  70% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.referral-header__title {
  max-width: 669px;
  margin-bottom: 10px;
  transform: translateY(300%);
  opacity: 0;
}

.anim.referral-header .referral-header__title {
  animation: referral-header__title--anim 0.7s forwards ease-in-out;
  animation-delay: 0.8s;
}

@keyframes referral-header__title--anim {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.referral-header__description {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 32px;
  text-align: center;
  color: #4b2697;
  max-width: 536px;
  transform: translateY(300%);
  opacity: 0;
}

.anim.referral-header .referral-header__description {
  animation: referral-header__title--anim 0.7s forwards ease-in-out;
  animation-delay: 1s;
}

.referral-header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 72px;
  background: #ff680a;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
  transform: translateY(300%);
  opacity: 0;
}

.anim.referral-header .referral-header__link {
  animation: referral-header__title--anim 0.7s forwards ease-in-out;
  animation-delay: 1.2s;
}

.referral-header__link:hover {
  background-color: #ff8637;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07), 0px 1px 5px rgba(0, 0, 0, 0.12),
    0px 3px 4px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 1365px) {
  .referral-header {
    padding-top: 40px;
    padding-bottom: 111px;
  }

  .referral-header__image {
    margin-bottom: 23px;
    max-width: 397px;
  }

  .referral-header__title {
    max-width: 483px;
    margin-bottom: 6px;
  }

  .referral-header__description {
    font-size: 18px;
    max-width: 397px;
  }

  .referral-header__link {
    width: 185px;
    height: 56px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .referral-header {
    padding-top: 65px;
    padding-bottom: 98px;
  }
}

@media screen and (max-width: 560px) {
  .referral-header {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('https://i.citrus.ua/uploads/promo/referral/header/bg-bottom-mobile.png')
        no-repeat bottom -1px center/contain,
      url('https://i.citrus.ua/uploads/promo/referral/header/bg-main-new-mobile.jpg')
        no-repeat top center/auto auto,
      linear-gradient(0deg, #f2f646, #f2f646),
      radial-gradient(62.4% 578.09% at 36.96% -96.42%, #fff87c 0%, #f6ed46 100%);
  }

  .referral-header__image {
    margin-bottom: 15px;
    max-width: 275px;
  }

  .referral-header__title {
    max-width: 300px;
    min-width: 300px;
  }

  .referral-header__description {
    font-size: 12px;
    margin-bottom: 22px;
    max-width: 275px;
  }

  .referral-header__link {
    width: 168px;
    height: 46px;
    font-size: 18px;
  }
}

/*referral-instruction*/
.referral-instruction {
  padding-top: 41px;
  padding-bottom: 15%;
  background: url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-bottom.png')
      no-repeat center bottom -1px / contain,
    url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-right.png')
      no-repeat right top 116px,
    url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-left.png')
      no-repeat left top 293px #ff680a;
}

.referral-instruction__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 58px;
  max-width: 432px;
}

.referral-instruction__items {
  max-width: 754px;
  margin-left: auto;
  margin-right: auto;
}

.referral-instruction__item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.referral-instruction__item:nth-child(odd)
  .referral-instruction__item-image::before {
  background-image: url('https://i.citrus.ua/uploads/promo/referral/instruction/arrow-left.png');
  bottom: -20px;
  left: -30px;
  transform: rotate(90deg) translateX(-50%) translateY(-50%);
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(1)
  .referral-instruction__item-image::before {
  animation: left-arrow 0.5s forwards ease-in-out;
  animation-delay: 1s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(3)
  .referral-instruction__item-image::before {
  animation: left-arrow 0.5s forwards ease-in-out;
  animation-delay: 2s;
}

@keyframes left-arrow {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateX(-50%) translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0) translateY(0);
  }
}

.referral-instruction__item:nth-child(even)
  .referral-instruction__item-image::before {
  background-image: url('https://i.citrus.ua/uploads/promo/referral/instruction/arrow-right.png');
  bottom: -40px;
  right: -25px;
  transform: rotate(-90deg) translateX(100%) translateY(-50%);
  transform-origin: left top;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(2)
  .referral-instruction__item-image::before {
  animation: right-arrow 0.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(4)
  .referral-instruction__item-image::before {
  animation: right-arrow 0.5s forwards ease-in-out;
  animation-delay: 2.5s;
}

@keyframes right-arrow {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateX(-100%) translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0) translateY(0);
  }
}

.referral-instruction__item:last-child {
  margin-bottom: 0;
}

.referral-instruction__item:last-child
  .referral-instruction__item-image::before {
  display: none;
}

.referral-instruction__item-image {
  position: relative;
  min-width: 90px;
  height: 90px;
  margin-right: 40px;
  opacity: 0;
}

.referral-instruction__items.anim .referral-instruction__item-image {
  animation: bounce-anim 0.7s forwards ease-in-out;
  animation-delay: 0.3s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(2)
  .referral-instruction__item-image {
  animation-delay: 0.8s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(3)
  .referral-instruction__item-image {
  animation-delay: 1.3s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(4)
  .referral-instruction__item-image {
  animation-delay: 1.8s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(5)
  .referral-instruction__item-image {
  animation-delay: 2.3s;
}

.referral-instruction__item-image::before {
  content: '';
  position: absolute;
  width: 34px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
  opacity: 0;
}

.referral-instruction__item-description {
  color: #ffffff;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 0;
  opacity: 0;
  transform: translateX(100vw);
}

.referral-instruction__items.anim .referral-instruction__item-description {
  animation: referral-instruction__item-description--anim 0.5s forwards
    ease-in-out;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(2)
  .referral-instruction__item-description {
  animation-delay: 0.3s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(3)
  .referral-instruction__item-description {
  animation-delay: 0.8s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(4)
  .referral-instruction__item-description {
  animation-delay: 1.3s;
}

.referral-instruction__items.anim
  .referral-instruction__item:nth-child(5)
  .referral-instruction__item-description {
  animation-delay: 1.8s;
}

@keyframes referral-instruction__item-description--anim {
  0% {
    opacity: 1;
    transform: translateX(100vw);
  }
  70% {
    opacity: 1;
    transform: translateX(-2vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1720px) {
  .referral-instruction {
    background: url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-bottom.png')
        no-repeat center bottom -1px / contain,
      url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-right.png')
        no-repeat right calc(50% - 640px) top 116px,
      url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-left.png')
        no-repeat left top 293px #ff680a;
  }
}

@media screen and (max-width: 1365px) {
  .referral-instruction {
    padding-bottom: 200px;
    background: url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-bottom.png')
        no-repeat center bottom -1px / contain,
      url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-right.png')
        no-repeat right top 275px/207px auto,
      url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-left.png')
        no-repeat left top 244px/85px auto #ff680a;
  }

  .referral-instruction__title {
    max-width: 346px;
    margin-bottom: 40px;
  }

  .referral-instruction__items {
    max-width: 634px;
  }

  .referral-instruction__item-description {
    font-size: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .referral-instruction {
    padding-bottom: 170px;
    padding-left: 32px;
    padding-right: 32px;
    background: url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-bottom.png')
        no-repeat center bottom -1px / contain,
      url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-right.png')
        no-repeat right top 275px/160px auto #ff680a;
  }
}

@media screen and (max-width: 670px) {
  .referral-instruction {
    background: url('https://i.citrus.ua/uploads/promo/referral/instruction/bg-bottom.png')
      no-repeat center bottom -1px / contain #ff680a;
  }
}

@media screen and (max-width: 560px) {
  .referral-instruction {
    padding-left: 36px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 130px;
  }

  .referral-instruction__item {
    margin-bottom: 24px;
  }

  .referral-instruction__item:nth-child(odd)
    .referral-instruction__item-image::before {
    bottom: -20px;
    left: -16px;
  }

  .referral-instruction__item:nth-child(even)
    .referral-instruction__item-image::before {
    bottom: -29px;
    right: -16px;
  }

  .referral-instruction__title {
    max-width: 247px;
    margin-bottom: 24px;
  }

  .referral-instruction__item-image {
    max-width: 56px;
    min-width: 56px;
    height: 56px;
    margin-right: 16px;
  }

  .referral-instruction__item-image::before {
    width: 22.5px;
    height: 36px;
  }

  .referral-instruction__item-description {
    font-size: 16px;
  }
}

/*referral-promo*/
.referral-promo {
  padding-top: 40px;
  padding-bottom: 38px;
  max-width: 850px;
  position: relative;
  top: -388px;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50%);
}

.referral-promo.anim {
  display: none;
  /* animation: referral-promo--anim 0.6s forwards ease-in-out; */
}

@keyframes referral-promo--anim {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim.referral-promo::before {
  animation: bounce-promo 0.7s forwards ease-in-out;
  animation-delay: 0.5s;
}

@keyframes bounce-promo {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  70% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.referral-promo::before {
  content: '';
  position: absolute;
  bottom: 44px;
  left: -109px;
  width: 240px;
  height: 227px;
  background: url('https://i.citrus.ua/uploads/promo/referral/promo/bg-left-new.png')
    no-repeat center/contain;
  z-index: 3;
  opacity: 0;
}

.referral-promo__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  filter: drop-shadow(0px 24px 30px rgba(0, 0, 0, 0.04));
}

.referral-promo__background-mobile {
  display: none;
}

.referral-promo__wrapper {
  position: relative;
  z-index: 2;
  opacity: 0;
}

.referral-promo.anim .referral-promo__wrapper {
  animation: referral-promo--anim 0.6s forwards ease-in-out;
  animation-delay: 0.2s;
}

.referral-promo__title {
  max-width: 488px;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.referral-promo__title-mobile {
  display: none;
}

.referral-promo__description {
  margin-bottom: 57px;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
  font-size: 22px;
  max-width: 587px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 16px);
}

.referral-promo__form {
  max-width: 328px;
  margin-left: auto;
  margin-right: auto;
}

.referral-promo__input-container {
  position: relative;
  margin-bottom: 26px;
}

.referral-promo__label {
  position: absolute;
  left: 14px;
  top: -7px;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.54);
  background-color: #ffffff;
  padding: 0 2px;
  margin-bottom: 0;
}

.referral-promo__input {
  height: 48px;
  width: 100%;
  padding: 14px 14px 10px 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 2px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.referral-promo__input:focus {
  outline: none;
}

.referral-promo__tip {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  letter-spacing: 0.4px;
  margin-bottom: 0;
}

.referral-promo__submit {
  width: 100%;
  text-transform: uppercase;
  background: #ff680a;
  border-radius: 10px;
  margin-bottom: 0;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.referral-promo__submit:hover {
  background-color: #ff8637;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07), 0px 1px 5px rgba(0, 0, 0, 0.12),
    0px 3px 4px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 1365px) {
  .referral-promo {
    max-width: 645px;
    top: -335px;
  }

  .referral-promo::before {
    width: 178px;
    height: 167px;
    left: -43px;
    bottom: 60px;
  }

  .referral-promo__title {
    margin-bottom: 24px;
    max-width: 390px;
  }

  .referral-promo__description {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .referral-promo__submit {
    height: 46px;
  }
}

@media screen and (max-width: 1023px) {
  .referral-promo {
    top: -258px;
    width: calc(100% - 45px);
  }
}

@media screen and (max-width: 800px) {
  .referral-promo::before {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .referral-promo {
    padding-top: 37px;
    max-width: 296px;
    top: -364px;
    width: 100%;
  }

  .referral-promo__background {
    display: none;
  }

  .referral-promo__background-mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 24px 30px rgba(0, 0, 0, 0.04));
  }

  .referral-promo__title {
    display: none;
  }

  .referral-promo__title-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 230px;
    margin-bottom: 14px;
  }

  .referral-promo__description {
    margin-bottom: 29px;
    max-width: 256px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
  }

  .referral-promo__form {
    padding-left: 20px;
    padding-right: 20px;
  }

  .referral-promo__input-container {
    margin-bottom: 18px;
  }
}

/*referal-faq*/
.referral-faq {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 40px;
}

.referral-faq__tabs {
  margin-bottom: 40px;
  padding-bottom: 2px;
  overflow: auto;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.referral-faq__tab {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  height: 48px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: 18px;
}

.referral-faq__tab::before,
.referral-faq__tab::after {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 2px;
  transition: left 0.25s ease-out, right 0.25s ease-out;
  background: #ff680a;
}

.referral-faq__tab::before {
  right: 50%;
}

.referral-faq__tab::after {
  left: 50%;
}

.referral-faq__tab--active::before {
  left: 0;
}

.referral-faq__tab--active::after {
  right: 0;
}

.referral-faq__link {
  margin-top: 49px;
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff680a;
  border-radius: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0;
}

.referral-faq__link:hover {
  background-color: #ff8637;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07), 0px 1px 5px rgba(0, 0, 0, 0.12),
    0px 3px 4px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 1365px) {
  .referral-faq {
    max-width: 810px;
  }

  .referral-faq__tab {
    font-size: 16px;
  }

  .referral-faq__link {
    height: 56px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .referral-faq {
    max-width: 645px;
    width: calc(100% - 45px);
  }

  .referral-faq__tab {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 560px) {
  .referral-faq {
    width: 100%;
  }

  .referral-faq__tabs {
    padding-left: 16px;
  }

  .referral-faq__tab {
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .referral-faq__link {
    width: 168px;
    height: 46px;
    font-size: 20px;
  }
}

/*faq*/
.page-faq {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-faq[data-faq='2'] {
  display: none;
}

.page-faq__item {
  background-color: #ffffff;
  margin-bottom: 8px;
  border-radius: 42px;
  box-shadow: 0px 16px 30px -8px rgba(0, 19, 81, 0.14);
  border: 2px solid transparent;
  transition: border-color 0.25s ease-out;
}

.page-faq__item:hover {
  border-color: #ff680a;
}

.page-faq__item:last-child {
  margin-bottom: 0;
}

.page-faq__answer-container {
  height: 0;
  overflow: hidden;
  position: relative;
  top: -16px;
  transition: height 0.2s linear;
}

.page-faq__answer {
  padding-left: 66px;
  padding-right: 56px;
}

.page-faq__item--open {
  padding-bottom: 24px;
}

.page-faq__item--open .page-faq__question::after {
  transform: translateY(-50%) rotate(180deg);
}

.page-faq__question {
  text-align: left;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  position: relative;
  padding-left: 66px;
  padding-right: 108px;
  padding-top: 31px;
  padding-bottom: 30px;
  cursor: pointer;
}

.page-faq__question::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #9a40d6;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.page-faq__question::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  right: 42px;
  pointer-events: none;
  width: 13px;
  height: 12px;
  transition: 0.25s;
  background: url('https://i.citrus.ua/uploads/promo/black-friday-static/faq-ic.png')
    no-repeat center;
}

.page-faq__answer-text {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12px;
}

.page-faq__answer-text:last-child {
  margin-bottom: 0;
}

.page-faq__images {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.page-faq__image:nth-child(2) {
  margin-left: 25px;
}

.page-faq__image {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
}

.page-faq__image::after {
  content: '';
  position: absolute;
  pointer-events: none;
  width: 40px;
  height: 40px;
  bottom: 8px;
  right: 8px;
  background: url('https://i.citrus.ua/uploads/promo/referral/faq/show-full.svg')
    no-repeat center/contain;
}

.page-faq__image img {
  max-height: 400px;
}

@media screen and (max-width: 1365px) {
  .page-faq__answer-container {
    top: 0;
  }

  .page-faq__question {
    font-size: 16px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 23px;
  }

  .page-faq__question::before {
    width: 9px;
    height: 9px;
    left: 30px;
  }

  .page-faq__question::after {
    right: 30px;
  }
}

@media screen and (max-width: 560px) {
  .page-faq {
    margin-right: 16px;
    margin-left: 16px;
    width: auto;
  }

  .page-faq__question {
    min-height: 80px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 36px;
  }

  .page-faq__answer {
    padding-left: 36px;
    padding-right: 40px;
  }

  .page-faq__question::before {
    width: 6px;
    height: 6px;
    left: 17px;
  }

  .page-faq__question::after {
    right: 22px;
  }

  .page-faq__images {
    flex-direction: column;
    align-items: center;
  }

  .page-faq__image:nth-child(2) {
    margin-left: 0;
    margin-top: 24px;
  }
}

/*referral-success*/
.referral-success {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}

.referral-success__container {
  max-width: 700px;
  padding-top: 60px;
  padding-bottom: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 32px);
  background-color: #ffffff;
  box-shadow: 0px -2px 30px rgba(0, 19, 81, 0.02);
  border-radius: 41px;
}

.referral-success__close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  right: 15px;
  margin-bottom: 0;
}

.referral-success__close::before,
.referral-success__close::after {
  position: absolute;
  content: '';
  top: 12px;
  left: 2px;
  width: 20px;
  height: 2px;
  background-color: rgba(63, 78, 93, 0.6);
}

.referral-success__close::before {
  transform: rotate(45deg);
}

.referral-success__close::after {
  transform: rotate(-45deg);
}

.referral-success__title {
  margin-top: 32px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 16px;
  text-align: center;
  font-weight: 900;
}

.referral-success__description {
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  max-width: 587px;
  width: calc(100% - 32px);
  margin-bottom: 0;
}

.referral-success__description b {
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .referral-success__close {
    top: 10px;
    right: 10px;
  }

  .referral-success__container {
    border-radius: 20px;
    padding-top: 48px;
    padding-bottom: 32px;
  }

  .referral-success__title {
    font-size: 24px;
    margin-top: 16px;
  }

  .referral-success__description {
    font-size: 16px;
  }
}

/*referral-preview*/
.referral-preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}

.referral-preview__content {
  max-width: 700px;
  max-height: 600px;
  padding: 50px 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 32px);
  background-color: #ffffff;
  box-shadow: 0px -2px 30px rgba(0, 19, 81, 0.02);
  border-radius: 20px;
}

.referral-preview__image-container {
  display: flex;
  min-height: 100%;
}

.referral-preview__image-container img {
  object-fit: contain;
}

@media screen and (max-width: 700px) {
  .referral-preview__content {
    max-height: 400px;
    padding: 16px 32px;
  }
}
