* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

body {
  margin: 50px 0 50px 0;
  overflow-x: hidden; }

ul {
  margin: 0;
  list-style: none; }

img {
  max-width: 100%;
  color: transparent; }

form select,
input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 36px;
  width: 100%;
  padding: 0 0 0 12px;
  background-color: #ffffff; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #3b6d9a;
  outline: none;
  transition: 0.3s; }

button {
  display: block;
  background: 0 0;
  cursor: pointer;
  border: none;
  text-align: center;
  width: 100%;
  line-height: 44px;
  transition: 0.3s;
  border-radius: 4px;
  margin-bottom: 24px;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  font-size: 18px; }

.miband6 {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto; }
  .miband6-header {
    background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/header/header-bg.jpg") center top no-repeat;
    padding: 50px 0 21px 0; }
    .miband6-header__logo {
      max-width: 245px;
      width: 100%;
      padding: 0 35px;
      margin: 0 auto 12px auto;
      display: flex; }
    .miband6-header__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      margin-bottom: 8px;
      padding: 0 35px;
      text-align: center; }
    .miband6-header__subtitle {
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      padding: 0 35px;
      text-align: center;
      margin-bottom: 16px; }
    .miband6-header__image {
      max-width: 404px;
      width: 100%;
      margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .miband6-header__logo {
        max-width: 332px; }
      .miband6-header__image {
        max-width: 546px; } }
    @media screen and (min-width: 1024px) {
      .miband6-header__logo {
        max-width: 338px;
        margin: 0 auto 16px auto; }
      .miband6-header__title {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 12px; }
      .miband6-header__subtitle {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px; }
      .miband6-header__image {
        max-width: 754px; } }
  .miband6-advantages {
    background: #000000;
    padding: 40px 16px; }
    .miband6-advantages__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-advantages__item {
      width: 45%; }
      .miband6-advantages__item:nth-child(2), .miband6-advantages__item:nth-child(4), .miband6-advantages__item:nth-child(6) {
        margin-bottom: 24px; }
      .miband6-advantages__item-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        margin-bottom: 13px; }
      .miband6-advantages__item-subtitle {
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.6); }
    @media screen and (min-width: 768px) {
      .miband6-advantages {
        padding: 64px 24px; }
        .miband6-advantages__list {
          max-width: 800px; }
        .miband6-advantages__item {
          width: 21%; }
          .miband6-advantages__item:nth-child(2), .miband6-advantages__item:nth-child(4), .miband6-advantages__item:nth-child(6) {
            margin-bottom: 0; }
          .miband6-advantages__item:nth-child(-n + 4) {
            margin-bottom: 32px; } }
    @media screen and (min-width: 1024px) {
      .miband6-advantages {
        padding: 64px 40px; }
        .miband6-advantages__list {
          max-width: 1200px; }
        .miband6-advantages__item-title {
          font-size: 18px;
          line-height: 21px; }
        .miband6-advantages__item-subtitle {
          font-size: 14px;
          line-height: 16px; } }
    @media screen and (min-width: 1366px) {
      .miband6-advantages {
        padding: 80px 40px; }
        .miband6-advantages__list {
          max-width: 1290px; }
        .miband6-advantages__item {
          width: 24%; }
          .miband6-advantages__item-title {
            font-size: 20px;
            line-height: 23px; }
          .miband6-advantages__item-subtitle {
            font-size: 16px;
            line-height: 19px; } }
  .miband6-banner {
    display: flex; }
  .miband6-info {
    padding: 40px 16px 0 16px;
    display: flex;
    flex-direction: column; }
    .miband6-info__content {
      max-width: 400px;
      width: 100%;
      margin: 0 auto 24px auto; }
    .miband6-info__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: #000000;
      margin-bottom: 16px; }
    .miband6-info__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 24px; }
    .miband6-info__note {
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 16px;
      background: linear-gradient(90deg, #e33d19 0, #ff9b2c, 50%, #e33d19 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% auto;
      animation: gradient-move 3s infinite linear; }
    .miband6-info__desc {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      background: linear-gradient(90deg, #e33d19 0, #ff9b2c, 50%, #e33d19 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% auto;
      animation: gradient-move 3s infinite linear; }
@keyframes gradient-move {
  to {
    background-position: 200% center; } }
    .miband6-info__image {
      max-width: 288px;
      width: 100%;
      margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .miband6-info {
        padding: 64px 40px 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .miband6-info__content {
          max-width: 315px;
          margin: 0; }
        .miband6-info__image {
          max-width: 314px;
          margin: 0; } }
    @media screen and (min-width: 1024px) {
      .miband6-info__content {
        max-width: 442px; }
      .miband6-info__title {
        font-size: 32px;
        line-height: 37px; }
      .miband6-info_subtitle {
        font-size: 14px;
        line-height: 21px; }
      .miband6-info__note {
        font-size: 32px;
        line-height: 37px; }
      .miband6-info__image {
        max-width: 442px; } }
    @media screen and (min-width: 1366px) {
      .miband6-info {
        padding: 80px 40px 40px; }
        .miband6-info__content {
          max-width: 522px; }
        .miband6-info__title {
          font-size: 36px;
          line-height: 42px;
          margin-bottom: 24px; }
        .miband6-info__subtitle {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 32px; }
        .miband6-info__note {
          font-size: 36px;
          line-height: 42px;
          animation: gradient-move 2s infinite linear; }
        .miband6-info__desc {
          font-size: 16px;
          line-height: 19px;
          animation: gradient-move 2s infinite linear; }
        .miband6-info__image {
          max-width: 552px; } }
  .miband6-form__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding: 40px 16px 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .miband6-form__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 32px auto; }
  .miband6-form__image {
    display: flex; }
  @media screen and (min-width: 768px) {
    .miband6-form__title {
      padding: 0 24px;
      text-align: center; }
    .miband6-form__subtitle {
      padding: 0 24px;
      text-align: center;
      margin: 0 auto 40px auto; } }
  @media screen and (min-width: 1024px) {
    .miband6-form__title {
      font-size: 32px;
      line-height: 37px; }
    .miband6-form__subtitle {
      font-size: 14px;
      line-height: 21px; } }
  @media screen and (min-width: 1366px) {
    .miband6-form__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 24px; }
    .miband6-form__subtitle {
      font-size: 16px;
      line-height: 24px; } }
  .miband6-video {
    max-width: 1068px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
    padding: 40px 16px; }
    .miband6-video__link {
      display: block; }
    @media screen and (min-width: 768px) {
      .miband6-video {
        padding: 64px 24px; } }
    @media screen and (min-width: 1024px) {
      .miband6-video:hover {
        transform: scale(1.01); } }
    @media screen and (min-width: 1366px) {
      .miband6-video {
        padding: 80px 24px; } }
  .miband6-amoled {
    padding: 0 16px;
    display: flex;
    flex-direction: column; }
    .miband6-amoled__content {
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-amoled__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 16px;
      color: #000000; }
    .miband6-amoled__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 24px; }
    .miband6-amoled__image {
      max-width: 288px;
      width: 100%;
      margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .miband6-amoled {
        padding: 0 40px;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .miband6-amoled__content {
          max-width: 315px;
          margin: 0; }
        .miband6-amoled__subtitle {
          margin-bottom: 24px; }
        .miband6-amoled__image {
          max-width: 314px;
          margin: 0; } }
    @media screen and (min-width: 1024px) {
      .miband6-amoled__content {
        max-width: 442px; }
      .miband6-amoled__title {
        font-size: 32px;
        line-height: 37px; }
      .miband6-amoled_subtitle {
        font-size: 14px;
        line-height: 21px; }
      .miband6-amoled__image {
        max-width: 442px; } }
    @media screen and (min-width: 1366px) {
      .miband6-amoled__content {
        max-width: 522px; }
      .miband6-amoled__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 24px; }
      .miband6-amoled__subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px; }
      .miband6-amoled__image {
        max-width: 552px; } }
  .miband6-customisation__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding: 40px 16px 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .miband6-customisation__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 32px auto; }
  .miband6-customisation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .miband6-customisation__item {
    width: 100%; }
    .miband6-customisation__item:nth-child(1) {
      order: 1;
      max-width: 192px;
      margin-bottom: 24px; }
    .miband6-customisation__item:nth-child(2) {
      order: 3;
      max-width: 288px; }
    .miband6-customisation__item:nth-child(3) {
      order: 2;
      max-width: 192px;
      margin-bottom: 24px; }
  @media screen and (min-width: 768px) {
    .miband6-customisation__title {
      padding: 64px 24px 0 24px;
      text-align: center; }
    .miband6-customisation__subtitle {
      padding: 0 24px;
      text-align: center;
      margin: 0 auto 40px auto; }
    .miband6-customisation__list {
      flex-direction: row;
      justify-content: center; }
    .miband6-customisation__item:nth-child(1) {
      order: 1;
      max-width: 192px;
      margin-bottom: 0; }
    .miband6-customisation__item:nth-child(2) {
      order: 2;
      max-width: 268px; }
    .miband6-customisation__item:nth-child(3) {
      order: 3;
      max-width: 192px;
      margin-bottom: 0; } }
  @media screen and (min-width: 1024px) {
    .miband6-customisation__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 16px; }
    .miband6-customisation__subtitle {
      font-size: 14px;
      line-height: 21px; }
    .miband6-customisation__item:nth-child(1) {
      max-width: 267px; }
    .miband6-customisation__item:nth-child(2) {
      max-width: 374px; }
    .miband6-customisation__item:nth-child(3) {
      max-width: 267px; } }
  @media screen and (min-width: 1366px) {
    .miband6-customisation__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 24px;
      padding: 80px 24px 0 24px; }
    .miband6-customisation__subtitle {
      font-size: 16px;
      line-height: 24px;
      padding: 0 24px; }
    .miband6-customisation__item:nth-child(1) {
      max-width: 314px; }
    .miband6-customisation__item:nth-child(2) {
      max-width: 440px; }
    .miband6-customisation__item:nth-child(3) {
      max-width: 314px; } }
  .miband6-colors__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 16px;
    padding: 40px 16px 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .miband6-colors__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 32px auto; }
  .miband6-colors__image {
    max-width: 652px;
    width: 100%;
    margin: 0 auto 40px auto;
    padding: 0 16px; }
  .miband6-colors__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12px; }
  .miband6-colors__item {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    position: relative; }
    .miband6-colors__item:not(:last-child) {
      padding-right: 10px; }
    .miband6-colors__item:not(:last-child):after {
      content: '';
      position: absolute;
      width: 1px;
      height: 11px;
      background-color: #000000;
      top: 3px;
      right: 5px; }
  .miband6-colors__disc {
    padding: 0 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .miband6-colors__title {
      padding: 0 24px;
      text-align: center; }
    .miband6-colors__subtitle {
      padding: 0 24px;
      text-align: center;
      margin: 0 auto 40px auto; }
    .miband6-colors__image {
      max-width: 905px;
      padding: 0 40px; }
    .miband6-colors__item {
      font-size: 16px;
      line-height: 18px; }
      .miband6-colors__item:not(:last-child) {
        padding-right: 12px; }
      .miband6-colors__item:not(:last-child):after {
        width: 2px;
        height: 15px;
        top: 1px;
        right: 5px; }
    .miband6-colors__disc {
      margin-bottom: 64px; } }
  @media screen and (min-width: 1024px) {
    .miband6-colors__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 16px;
      padding: 0; }
    .miband6-colors__subtitle {
      font-size: 14px;
      line-height: 21px;
      padding: 0; }
    .miband6-colors__image {
      max-width: 1068px; }
    .miband6-colors__item {
      font-size: 20px;
      line-height: 24px; }
      .miband6-colors__item:not(:last-child) {
        padding-right: 12px; }
      .miband6-colors__item:not(:last-child):after {
        height: 21px;
        top: 3px; } }
  @media screen and (min-width: 1366px) {
    .miband6-colors__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 24px; }
    .miband6-colors__subtitle {
      font-size: 16px;
      line-height: 24px; }
    .miband6-colors__image {
      margin-bottom: 60px; }
    .miband6-colors__list {
      margin-bottom: 16px; }
    .miband6-colors__item {
      font-size: 24px;
      line-height: 28px; }
      .miband6-colors__item:not(:last-child) {
        padding-right: 12px; }
      .miband6-colors__item:not(:last-child):after {
        width: 3px;
        height: 21px;
        top: 4px; }
    .miband6-colors__disc {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 80px; } }
  .miband6-control {
    background-color: #645a50;
    display: flex;
    flex-direction: column; }
    .miband6-control__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
      color: #ffffff;
      padding: 40px 16px 32px 16px;
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-control__image {
      margin: 0 auto;
      display: flex; }
    @media screen and (min-width: 768px) {
      .miband6-control {
        flex-direction: row;
        align-items: center; }
        .miband6-control__title {
          padding: 0 0 0 40px;
          max-width: initial;
          width: 50%; }
        .miband6-control__image {
          margin: 0;
          width: 50%; } }
    @media screen and (min-width: 1024px) {
      .miband6-control__title {
        font-size: 32px;
        line-height: 42px;
        padding: 0 0 0 118px; } }
    @media screen and (min-width: 1366px) {
      .miband6-control__title {
        font-size: 62px;
        line-height: 81px;
        padding: 0 0 0 149px; } }
  .miband6-breath {
    margin: 0 auto;
    padding: 40px 16px 0 16px; }
    .miband6-breath__container {
      background: #0e0e10;
      border-radius: 10px; }
    .miband6-breath__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: #ffffff;
      margin-bottom: 16px;
      padding: 40px 16px 0 16px; }
    .miband6-breath__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.6);
      padding: 0 16px; }
    .miband6-breath__image {
      padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .miband6-breath {
        padding: 64px 96px 0 96px; }
        .miband6-breath__title {
          text-align: center;
          padding: 80px 60px 0 60px; }
        .miband6-breath__subtitle {
          text-align: center;
          padding: 0 60px; } }
    @media screen and (min-width: 1024px) {
      .miband6-breath {
        padding: 80px 118px 0 118px; }
        .miband6-breath__title {
          font-size: 32px;
          line-height: 37px; }
        .miband6-breath__subtitle {
          font-size: 14px;
          line-height: 16px; } }
    @media screen and (min-width: 1366px) {
      .miband6-breath {
        padding: 80px 149px 0 149px; }
        .miband6-breath__title {
          font-size: 36px;
          line-height: 42px;
          margin-bottom: 24px; }
        .miband6-breath__subtitle {
          font-size: 16px;
          line-height: 19px; } }
  .miband6-sleep__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding: 40px 16px 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .miband6-sleep__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 40px auto; }
  .miband6-sleep__image {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex; }
  @media screen and (min-width: 768px) {
    .miband6-sleep__title {
      padding: 40px 40px 0 40px;
      text-align: center; }
    .miband6-sleep__subtitle {
      padding: 0 40px;
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    .miband6-sleep__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 16px;
      padding: 64px 54px 0 54px; }
    .miband6-sleep__subtitle {
      font-size: 14px;
      line-height: 21px;
      padding: 0 54px; } }
  @media screen and (min-width: 1366px) {
    .miband6-sleep__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 24px;
      padding: 80px 54px 0 54px; }
    .miband6-sleep__subtitle {
      font-size: 16px;
      line-height: 24px;
      padding: 0 54px; } }
  .miband6-monitoring {
    background-color: #9aaace;
    display: flex;
    flex-direction: column; }
    .miband6-monitoring__content {
      padding: 40px 16px 32px 16px;
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-monitoring__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: #ffffff;
      margin-bottom: 16px; }
    .miband6-monitoring__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.8); }
    .miband6-monitoring__image {
      margin: 0 auto;
      display: flex; }
    @media screen and (min-width: 768px) {
      .miband6-monitoring {
        flex-direction: row;
        align-items: center; }
        .miband6-monitoring__content {
          padding: 0 0 0 40px;
          max-width: initial;
          width: 50%; }
        .miband6-monitoring__image {
          margin: 0;
          width: 50%; } }
    @media screen and (min-width: 1024px) {
      .miband6-monitoring__content {
        max-width: 454px; }
      .miband6-monitoring__title {
        font-size: 32px;
        line-height: 42px; }
      .miband6-monitoring__subtitle {
        font-size: 14px;
        line-height: 16px; } }
    @media screen and (min-width: 1366px) {
      .miband6-monitoring__content {
        max-width: 522px; }
      .miband6-monitoring__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 32px; }
      .miband6-monitoring__subtitle {
        font-size: 16px;
        line-height: 19px; } }
  .miband6-heart__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding: 40px 16px 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .miband6-heart__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 40px auto; }
  .miband6-heart__diagramm {
    background: #ffffff;
    box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 0 16px;
    max-width: 850px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .miband6-heart__image {
    padding-top: 24px;
    padding-bottom: 42px;
    margin: 0 auto; }
  .miband6-heart__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px 32px 16px; }
  .miband6-heart__item {
    width: 44%; }
    .miband6-heart__item:nth-child(-n + 2) {
      margin-bottom: 24px; }
  .miband6-heart__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
    color: #000000; }
  .miband6-heart__item-subtitle {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6); }
  .miband6-heart__disc {
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.6); }
  @media screen and (min-width: 768px) {
    .miband6-heart__title {
      padding: 40px 40px 0 40px;
      text-align: center; }
    .miband6-heart__subtitle {
      padding: 0 40px;
      text-align: center; }
    .miband6-heart__diagramm {
      padding: 0 40px; }
    .miband6-heart__image {
      padding: 40px 40px 0 40px; }
    .miband6-heart__list {
      padding: 0 40px 40px 40px; }
    .miband6-heart__item {
      width: 18%; }
      .miband6-heart__item:nth-child(-n + 2) {
        margin-bottom: 0; }
    .miband6-heart__disc {
      text-align: center;
      font-size: 12px;
      line-height: 14px; } }
  @media screen and (min-width: 1024px) {
    .miband6-heart__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 16px;
      padding: 64px 54px 0 54px; }
    .miband6-heart__subtitle {
      font-size: 14px;
      line-height: 21px;
      padding: 0 54px; }
    .miband6-heart__item {
      width: 20%; } }
  @media screen and (min-width: 1366px) {
    .miband6-heart__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 24px;
      padding: 80px 54px 0 54px; }
    .miband6-heart__subtitle {
      font-size: 16px;
      line-height: 24px;
      padding: 0 54px; } }
  .miband6-more {
    display: flex;
    flex-direction: column;
    padding: 40px 16px; }
    .miband6-more__image {
      max-width: 288px;
      width: 100%;
      margin: 0 auto 24px auto; }
    .miband6-more__content {
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-more__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: #000000;
      margin-bottom: 40px; }
    .miband6-more__item:not(:last-child) {
      margin-bottom: 24px; }
    .miband6-more__item-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin-bottom: 16px; }
    .miband6-more__item-subtitle {
      font-size: 14px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.6); }
    @media screen and (min-width: 768px) {
      .miband6-more {
        padding: 64px 40px;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        .miband6-more__image {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          max-width: initial;
          width: 50%;
          margin: 0 24px 0 0; }
        .miband6-more__content {
          width: 50%;
          max-width: initial; } }
    @media screen and (min-width: 1024px) {
      .miband6-more__content {
        max-width: 442px; }
      .miband6-more__title {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 64px; }
      .miband6-more__item-title {
        font-size: 16px;
        line-height: 19px; }
      .miband6-more__item-subtitle {
        font-size: 14px;
        line-height: 21px; }
      .miband6-more__item:not(:last-child) {
        margin-bottom: 40px; } }
    @media screen and (min-width: 1366px) {
      .miband6-more {
        padding: 80px 40px; }
        .miband6-more__content {
          max-width: 522px; }
        .miband6-more__title {
          font-size: 36px;
          line-height: 42px; }
        .miband6-more__item-title {
          font-size: 20px;
          line-height: 23px; }
        .miband6-more__item-subtitle {
          font-size: 16px;
          line-height: 24px; } }
  .miband6-workout {
    background-color: #cfc1a7;
    display: flex;
    flex-direction: column; }
    .miband6-workout__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
      color: #000000;
      padding: 40px 16px 32px 16px;
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-workout__image {
      margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .miband6-workout {
        flex-direction: row;
        align-items: center; }
        .miband6-workout__title {
          padding: 0 0 0 40px;
          max-width: initial;
          width: 50%; }
        .miband6-workout__image {
          margin: 0;
          width: 50%; } }
    @media screen and (min-width: 1024px) {
      .miband6-workout__title {
        font-size: 32px;
        line-height: 42px;
        padding: 0 0 0 118px; } }
    @media screen and (min-width: 1366px) {
      .miband6-workout__title {
        font-size: 62px;
        line-height: 81px;
        padding: 0 0 0 149px; } }
  .miband6-fitness__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding: 40px 16px 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .miband6-fitness__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 40px auto; }
  .miband6-fitness__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 390px;
    margin: 0 auto 40px auto; }
  .miband6-fitness__item {
    width: 45%;
    max-width: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .miband6-fitness__item.basketball {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-1.png") center top/80px no-repeat; }
    .miband6-fitness__item.boxes {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-2.png") center top/80px no-repeat; }
    .miband6-fitness__item.zumba {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-3.png") center top/80px no-repeat; }
    .miband6-fitness__item.hiit {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-4.png") center top/80px no-repeat; }
    .miband6-fitness__item.axis {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-5.png") center top/80px no-repeat; }
    .miband6-fitness__item.pilates {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-6.png") center top/80px no-repeat; }
    .miband6-fitness__item.skates {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-7.png") center top/80px no-repeat; }
    .miband6-fitness__item.badminton {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-8.png") center top/80px no-repeat; }
    .miband6-fitness__item.dance {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-9.png") center top/80px no-repeat; }
    .miband6-fitness__item:not(:last-child) {
      margin-bottom: 32px; }
  .miband6-fitness__item-title {
    padding-top: 96px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6); }
  @media screen and (min-width: 768px) {
    .miband6-fitness__title {
      padding: 40px 40px 0 40px;
      text-align: center; }
    .miband6-fitness__subtitle {
      padding: 0 40px;
      text-align: center; }
    .miband6-fitness__list {
      max-width: 790px;
      margin: 0 auto 64px auto;
      justify-content: center; }
    .miband6-fitness__item {
      width: 20%; }
      .miband6-fitness__item:not(:last-child) {
        margin-bottom: 0; }
      .miband6-fitness__item:nth-child(-n + 5) {
        margin-bottom: 32px; } }
  @media screen and (min-width: 1024px) {
    .miband6-fitness__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 16px;
      padding: 64px 54px 0 54px; }
    .miband6-fitness__subtitle {
      font-size: 14px;
      line-height: 21px;
      padding: 0 54px; } }
  @media screen and (min-width: 1366px) {
    .miband6-fitness__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 24px;
      padding: 80px 0 0 0; }
    .miband6-fitness__subtitle {
      font-size: 16px;
      line-height: 24px;
      padding: 0; }
    .miband6-fitness__list {
      margin: 0 auto 80px auto; }
    .miband6-fitness__item.basketball {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-1.png") center top/100px no-repeat; }
    .miband6-fitness__item.boxes {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-2.png") center top/100px no-repeat; }
    .miband6-fitness__item.zumba {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-3.png") center top/100px no-repeat; }
    .miband6-fitness__item.hiit {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-4.png") center top/100px no-repeat; }
    .miband6-fitness__item.axis {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-5.png") center top/100px no-repeat; }
    .miband6-fitness__item.pilates {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-6.png") center top/100px no-repeat; }
    .miband6-fitness__item.skates {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-7.png") center top/100px no-repeat; }
    .miband6-fitness__item.badminton {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-8.png") center top/100px no-repeat; }
    .miband6-fitness__item.dance {
      background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/fitness/section16-9.png") center top/100px no-repeat; }
    .miband6-fitness__item-title {
      padding-top: 116px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px; } }
  .miband6-boxes {
    background-color: #d6cbaf;
    display: flex;
    flex-direction: column; }
    .miband6-boxes__content {
      padding: 40px 16px 32px 16px;
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-boxes__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: #ffffff;
      margin-bottom: 16px; }
    .miband6-boxes__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.8); }
    .miband6-boxes__image {
      margin: 0 auto;
      display: flex;
      width: 100%; }
      .miband6-boxes__image img {
        width: 100%; }
    @media screen and (min-width: 768px) {
      .miband6-boxes {
        flex-direction: row;
        align-items: center; }
        .miband6-boxes__content {
          padding: 0 0 0 40px;
          max-width: initial;
          width: 50%; }
        .miband6-boxes__image {
          margin: 0;
          width: 50%; } }
    @media screen and (min-width: 1024px) {
      .miband6-boxes__content {
        max-width: 454px; }
      .miband6-boxes__title {
        font-size: 32px;
        line-height: 42px; }
      .miband6-boxes__subtitle {
        font-size: 14px;
        line-height: 16px; } }
    @media screen and (min-width: 1366px) {
      .miband6-boxes__content {
        max-width: 522px; }
      .miband6-boxes__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 32px; }
      .miband6-boxes__subtitle {
        font-size: 16px;
        line-height: 19px; } }
  .miband6-zumba {
    background-color: #d3c4ab;
    display: flex;
    flex-direction: column; }
    .miband6-zumba__content {
      padding: 40px 16px 32px 16px;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      order: 1; }
    .miband6-zumba__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: #ffffff;
      margin-bottom: 16px; }
    .miband6-zumba__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.8); }
    .miband6-zumba__image {
      margin: 0 auto;
      display: flex;
      order: 2;
      width: 100%; }
      .miband6-zumba__image img {
        width: 100%; }
    @media screen and (min-width: 768px) {
      .miband6-zumba {
        flex-direction: row;
        align-items: center; }
        .miband6-zumba__content {
          padding: 0 0 0 40px;
          max-width: initial;
          width: 50%;
          order: 2; }
        .miband6-zumba__image {
          margin: 0;
          width: 50%;
          order: 1; } }
    @media screen and (min-width: 1024px) {
      .miband6-zumba__content {
        max-width: 454px; }
      .miband6-zumba__title {
        font-size: 32px;
        line-height: 42px; }
      .miband6-zumba__subtitle {
        font-size: 14px;
        line-height: 16px; } }
    @media screen and (min-width: 1366px) {
      .miband6-zumba__content {
        max-width: 522px; }
      .miband6-zumba__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 32px; }
      .miband6-zumba__subtitle {
        font-size: 16px;
        line-height: 19px; } }
  .miband6-basketball {
    background-color: #f07a32;
    display: flex;
    flex-direction: column; }
    .miband6-basketball__content {
      padding: 40px 16px 32px 16px;
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-basketball__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: #ffffff;
      margin-bottom: 16px; }
    .miband6-basketball__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.8); }
    .miband6-basketball__image {
      margin: 0 auto;
      display: flex;
      width: 100%; }
      .miband6-basketball__image img {
        width: 100%; }
    @media screen and (min-width: 768px) {
      .miband6-basketball {
        flex-direction: row;
        align-items: center; }
        .miband6-basketball__content {
          padding: 0 0 0 40px;
          max-width: initial;
          width: 50%; }
        .miband6-basketball__image {
          margin: 0;
          width: 50%; } }
    @media screen and (min-width: 1024px) {
      .miband6-basketball__content {
        max-width: 454px; }
      .miband6-basketball__title {
        font-size: 32px;
        line-height: 42px; }
      .miband6-basketball__subtitle {
        font-size: 14px;
        line-height: 16px; } }
    @media screen and (min-width: 1366px) {
      .miband6-basketball__content {
        max-width: 522px; }
      .miband6-basketball__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 32px; }
      .miband6-basketball__subtitle {
        font-size: 16px;
        line-height: 19px; } }
  .miband6-regimen__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding: 40px 16px 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .miband6-regimen__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 32px auto; }
  .miband6-regimen__image {
    display: flex; }
  @media screen and (min-width: 768px) {
    .miband6-regimen__title {
      padding: 64px 24px 0 24px;
      text-align: center; }
    .miband6-regimen__subtitle {
      padding: 0 24px;
      text-align: center;
      margin: 0 auto 40px auto; } }
  @media screen and (min-width: 1024px) {
    .miband6-regimen__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 16px;
      padding: 64px 0 0 0; }
    .miband6-regimen__subtitle {
      font-size: 14px;
      line-height: 21px;
      padding: 0; } }
  @media screen and (min-width: 1366px) {
    .miband6-regimen__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 24px;
      padding: 80px 0 0 0; }
    .miband6-regimen__subtitle {
      font-size: 16px;
      line-height: 24px; } }
  .miband6-water {
    padding: 40px 16px 0 40px;
    display: flex;
    flex-direction: column; }
    .miband6-water__content {
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-water__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 16px;
      color: #000000; }
    .miband6-water__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 24px; }
    .miband6-water__image {
      max-width: 288px;
      width: 100%;
      margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .miband6-water {
        padding: 0 40px;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .miband6-water__content {
          max-width: 315px;
          margin: 0; }
        .miband6-water__subtitle {
          margin-bottom: 24px; }
        .miband6-water__image {
          max-width: 314px;
          margin: 0; } }
    @media screen and (min-width: 1024px) {
      .miband6-water__content {
        max-width: 442px; }
      .miband6-water__title {
        font-size: 32px;
        line-height: 37px; }
      .miband6-water_subtitle {
        font-size: 14px;
        line-height: 21px; }
      .miband6-water__image {
        max-width: 442px; } }
    @media screen and (min-width: 1366px) {
      .miband6-water__content {
        max-width: 522px; }
      .miband6-water__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 24px; }
      .miband6-water__subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px; }
      .miband6-water__image {
        max-width: 552px; } }
  .miband6-charge {
    background-color: #000000;
    display: flex;
    flex-direction: column; }
    .miband6-charge__image {
      margin: 0 auto 32px auto;
      display: flex;
      width: 100%; }
      .miband6-charge__image img {
        width: 100%; }
    .miband6-charge__content {
      padding: 0 16px 40px 16px;
      max-width: 400px;
      width: 100%;
      margin: 0 auto; }
    .miband6-charge__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: #ffffff;
      margin-bottom: 16px; }
    .miband6-charge__list {
      display: flex;
      justify-content: space-between; }
    .miband6-charge__item {
      width: 30%;
      font-size: 12px;
      line-height: 14px; }
    .miband6-charge__item-title {
      color: #71b14a;
      margin-bottom: 13px; }
      .miband6-charge__item-title span {
        font-size: 32px;
        line-height: 37px; }
    .miband6-charge__item-desc {
      color: rgba(255, 255, 255, 0.8); }
    @media screen and (min-width: 768px) {
      .miband6-charge {
        flex-direction: row;
        align-items: center; }
        .miband6-charge__content {
          padding: 0 40px 0 0;
          max-width: initial;
          width: 50%; }
        .miband6-charge__image {
          margin: 0;
          width: 50%; } }
    @media screen and (min-width: 1024px) {
      .miband6-charge__content {
        max-width: 454px; }
      .miband6-charge__title {
        font-size: 32px;
        line-height: 42px; } }
    @media screen and (min-width: 1366px) {
      .miband6-charge__content {
        max-width: 604px; }
      .miband6-charge__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 24px; }
      .miband6-charge__item {
        font-size: 14px;
        line-height: 16px; }
      .miband6-charge__item-title span {
        font-size: 40px;
        line-height: 46px; } }
  .miband6-functions {
    padding: 40px 16px;
    background-color: #fafafa; }
    .miband6-functions__title {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      max-width: 400px;
      margin: 0 auto 48px auto; }
    .miband6-functions__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 400px;
      margin: 0 auto;
      transition: 1s; }
    .miband6-functions__item {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      transition: 1s; }
      .miband6-functions__item.activity {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-1.png") center top/60px no-repeat; }
      .miband6-functions__item.music {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-2.png") center top/60px no-repeat; }
      .miband6-functions__item.find {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-3.png") center top/60px no-repeat; }
      .miband6-functions__item.mute {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-4.png") center top/60px no-repeat; }
      .miband6-functions__item.silence {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-5.png") center top/60px no-repeat; }
      .miband6-functions__item.unlock {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-6.png") center top/60px no-repeat; }
      .miband6-functions__item.calls {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-7.png") center top/60px no-repeat; }
      .miband6-functions__item.weather {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-8.png") center top/60px no-repeat; }
      .miband6-functions__item.timer {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-9.png") center top/60px no-repeat; }
      .miband6-functions__item.reminders {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-10.png") center top/60px no-repeat; }
      .miband6-functions__item.tasks {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-11.png") center top/60px no-repeat; }
      .miband6-functions__item.notifications {
        background: url("https://i.citrus.ua/uploads/promo/Xiaomi%20Mi%20Band%206/functions/section21-12.png") center top/60px no-repeat; }
      .miband6-functions__item:nth-child(-n + 10) {
        margin-bottom: 32px; }
    .miband6-functions__item-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      padding-top: 76px; }
    @media screen and (min-width: 768px) {
      .miband6-functions {
        padding: 64px 40px; }
        .miband6-functions__title {
          text-align: center;
          max-width: 800px;
          margin: 0 auto 48px auto; }
        .miband6-functions__list {
          max-width: initial; }
        .miband6-functions__item {
          width: 25%; }
          .miband6-functions__item:nth-child(-n + 8) {
            margin-bottom: 32px; } }
    @media screen and (min-width: 1024px) {
      .miband6-functions__title {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 48px; }
      .miband6-functions__item {
        width: 16%; }
        .miband6-functions__item:nth-child(-n + 6) {
          margin-bottom: 50px; } }
    @media screen and (min-width: 1366px) {
      .miband6-functions {
        padding: 80px 40px; }
        .miband6-functions__title {
          font-size: 36px;
          line-height: 42px;
          margin: 0 auto 60px auto; }
        .miband6-functions__item-title {
          font-size: 16px;
          line-height: 20px;
          max-width: 160px; } }
  .miband6-faq {
    background-color: #ffffff;
    padding: 64px 16px 32px 16px; }
    .miband6-faq__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 24px; }
    .miband6-faq__text {
      font-size: 10px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.6); }
      .miband6-faq__text:not(:last-child) {
        margin-bottom: 16px; }
    @media screen and (min-width: 768px) {
      .miband6-faq {
        padding: 64px 40px 40px; }
        .miband6-faq__text {
          font-size: 12px;
          line-height: 18px; } }
    @media screen and (min-width: 1024px) {
      .miband6-faq {
        padding: 64px 40px 40px; }
        .miband6-faq__title {
          font-size: 18px;
          line-height: 21px; } }
    @media screen and (min-width: 1366px) {
      .miband6-faq {
        padding: 80px 40px 40px; }
        .miband6-faq__title {
          font-size: 20px;
          line-height: 23px; } }

.acc-product-description__custom-html
.miband6-banner
.miband6-banner__image
.acc-image-height-container-100 {
  height: 43vw; }

.acc-product-description__custom-html
.miband6-form
.miband6-form__image
.acc-image-height-container-100 {
  height: 33vw; }

.acc-product-description__custom-html
.miband6-colors
.miband6-colors__image
.acc-image-height-container-100 {
  height: 45vw; }

.acc-product-description__custom-html
.miband6-control
.miband6-control__image
.acc-image-height-container-100 {
  height: 87vw; }

.acc-product-description__custom-html
.miband6-monitoring
.miband6-monitoring__image
.acc-image-height-container-100 {
  height: 87vw; }

.acc-product-description__custom-html
.miband6-heart
.miband6-heart__image
.acc-image-height-container-100 {
  height: 30vw; }

.acc-product-description__custom-html
.miband6-workout
.miband6-workout__image
.acc-image-height-container-100 {
  height: 87vw; }

.acc-product-description__custom-html
.miband6-boxes
.miband6-boxes__image
.acc-image-height-container-100 {
  height: 87vw; }

.acc-product-description__custom-html
.miband6-zumba
.miband6-zumba__image
.acc-image-height-container-100 {
  height: 87vw; }

.acc-product-description__custom-html
.miband6-basketball
.miband6-basketball__image
.acc-image-height-container-100 {
  height: 87vw; }

.acc-product-description__custom-html
.miband6-regimen
.miband6-regimen__image
.acc-image-height-container-100 {
  height: 33vw; }

.acc-product-description__custom-html
.miband6-charge
.miband6-charge__image
.acc-image-height-container-100 {
  height: 87vw; }

.acc-product-description__custom-html .miband6-form .miband6-form__content {
  padding: 40px 24px 0 24px; }

.acc-product-description__custom-html
.miband6-header
.miband6-header__logo
.acc-image-height-container-100 {
  height: 54px; }

.acc-product-description__custom-html .miband6-control .miband6-control__image {
  width: 100%; }

.acc-product-description__custom-html
.miband6-monitoring
.miband6-monitoring__image {
  width: 100%; }

.acc-product-description__custom-html .miband6-workout .miband6-workout__image {
  width: 100%; }

.acc-product-description__custom-html
.miband6-customisation
.miband6-customisation__item
.miband6-customisation__image {
  width: 100%; }

.acc-product-description__custom-html
.miband6-customisation
.miband6-customisation__item
.miband6-customisation__image
.acc-image-height-container-100 {
  height: 135px; }

.acc-product-description__custom-html
.miband6-customisation
.miband6-customisation__item:nth-child(2)
.miband6-customisation__image
.acc-image-height-container-100 {
  height: 333px; }

.acc-product-description__custom-html
.miband6-fitness
.miband6-fitness__item
.miband6-fitness__item-image {
  width: 100%; }

.acc-product-description__custom-html
.miband6-fitness
.miband6-fitness__item
.miband6-fitness__item-image
.acc-image-height-container-100 {
  height: 80px; }

.acc-product-description__custom-html
.miband6-functions
.miband6-functions__item
.miband6-functions__item-image {
  width: 100%; }

.acc-product-description__custom-html
.miband6-functions
.miband6-functions__item
.miband6-functions__item-image
.acc-image-height-container-100 {
  height: 60px; }

/*# sourceMappingURL=style.css.map */
